/* responsive media queries */
@media screen and (max-width:576px) {
    header {
        height: 100%;
    }

    .nav-container {
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .navbar {
        flex-direction: column;
    }

    .nav-item-menu {
        flex-direction: column;
        margin-top: 36px;
    }

    .follower-box {
        margin-top: 60px;
    }

    .banner-content {


        text-align: center;


    }

    .banner-container {
        flex-direction: column-reverse;
        padding-top: 20px;
        height: 100%;
    }

    .banner-img {
        width: 100%;

    }

    .banner-img img {
        width: 100%;
    }
.online-games-title{
    font-size: 35px;
}
    .online-games-text {
        text-align: center;
        padding: 20px;
        font-size: 16px;
        
    }
.cards{
    grid-template-columns: repeat(1,300px);
    justify-content: center;
    row-gap: 24px;
    
}
.play-instantly-container{
    flex-direction: column;
}
.play-instantly-img{
    width: 70%;
    padding: 20px;
}
.play-instantly-img > img {
    width: 100%;
}
.play-instantly-title{
    text-align: center;
    margin-bottom: 40px;
}
.play-instantly-text{
    text-align: center;
    margin-bottom: 70px;
}
.btn-container {
   display: grid;
    grid-template-columns: repeat(1,248px);
    justify-content: center;
    row-gap: 20px;}
.footer-about{
       grid-template-columns: repeat(3,95px);
    }
    .footer-logo {
        grid-template-columns: repeat(3, 20px);
    }
    .footer-terms{
        grid-template-columns: repeat(2, 180px);
    }
}

